@model IEnumerable<Day_4.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Student.cshtml";
}
@if (TempData["Create"] != null)
{
    <div class="alert alert-dismissible alert-primary">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Created!</h4>
        <p class="mb-0">@TempData["Create"] is Created !</p>
    </div>
}
@if (TempData["Edit"] != null)
{
    <div class="alert alert-dismissible alert-primary">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">edited!</h4>
        <p class="mb-0">@TempData["Edit"] is edited !</p>
    </div>
}
<br />
<br />
<br />
<br />
<p>
    @Html.ActionLink("Create New", "Create", "Student", new { @class = "btn btn-primary" })
</p>
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Graduated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Graduated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>

