@model Day_5.ViweModel.countryCountLanguages

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>countryCountLanguages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanguagesIsOfficial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguagesIsOfficial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanguagesIsNotOfficial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanguagesIsNotOfficial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
