@model List<Day_5Bouns.Models.Student>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Full Name
            </th>
            <th>
                City
            </th>
            <th>
                Graduated
            </th>
            <th>
                GPA
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Graduated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GPA)
                    </td>
                    
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">Empty</td>
            </tr>
        }
    </tbody>
</table>

